<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        Timesheet
      </h1>
      <table class="table table-bordered table-condensed" style="position: sticky; top: 0px">
        <thead>
          <tr>
            <th rowspan="2">
              <ts-search-header [(mode)]="projectSearchHeaderMode" [(value)]="projectSearchHeaderValue">Project</ts-search-header>
            </th>
            <th rowspan="2">
              <ts-search-header [(mode)]="taskSearchHeaderMode" [(value)]="taskSearchHeaderValue">Task</ts-search-header>
            </th>
            <th [attr.colspan]="timesheet?.header.length">
              <span>
                <a href (click)="goToPrevious($event)">
                  <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
                Date
                <a href (click)="goToNext($event)">
                  <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
              </span>
              <span class="pull-right">
                <a href (click)="removeDay($event)" *ngIf="hasMoreThanOneDay()">
                  <i class="glyphicon glyphicon glyphicon-minus-sign"></i>
                </a>
                <a href (click)="addDay($event)">
                  <i class="glyphicon glyphicon glyphicon-plus-sign"></i>
                </a>
              </span>
            </th>
          </tr>
          <tr>
            <th *ngFor="let header of timesheet?.header">
              {{header | date}}
            </th>
          </tr>
        </thead>
      </table>

      <table class="table table-bordered table-condensed">
        <!--
        <tbody *ngFor="let projectRow of timesheet.projectRows">
          <ng-template [ngIf]="isProjectRowVisible(projectRow)">
            <tr *ngFor="let taskRow of projectRow.taskRows; let firstTaskRow = first">
              <ng-template [ngIf]="isTaskRowVisible(taskRow)">
                <th [attr.rowspan]="projectRow.taskRows.length" *ngIf="firstTaskRow">{{projectRow.project.name}}</th>
                <th>{{taskRow.task.name}}</th>
                <td *ngFor="let entryCell of taskRow.entryCells; let entryCellIndex = index">
                  <input type="number" min="0" [(ngModel)]="entryCell.entry.time" (focus)="handleFocus(entryCell)" (keyup)="handleKeyUp($event)"
                    (blur)="handleBlur(taskRow.task, entryCell, entryCellIndex)">
                </td>
              </ng-template>
            </tr>
          </ng-template>
        </tbody>
-->

        <tbody *ngFor="let projectRow of getProjectRows()">
          <tr *ngFor="let taskRow of getTaskRows(projectRow); let firstTaskRow = first">
            <th [attr.rowspan]="getTaskRows(projectRow).length" *ngIf="firstTaskRow">{{projectRow.project.name}}</th>
            <th>{{taskRow.task.name}}</th>
            <td *ngFor="let entryCell of taskRow.entryCells; let entryCellIndex = index">
              <input type="number" min="0" [(ngModel)]="entryCell.entry.time" (focus)="handleFocus(entryCell)" (keyup)="handleKeyUp($event)"
                (blur)="handleBlur(taskRow.task, entryCell, entryCellIndex)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ts-timesheet-chart [timesheet]="timesheet"></ts-timesheet-chart>