table {
    table-layout: fixed
}

thead {
    background-color: white
}

th {
    text-align: center;

    vertical-align: middle !important
}

input {
    border: none;

    text-align: center;

    width: 100%
}

input:focus {
    border: none;

    outline: none
}