<div class="panel panel-default" [@mode]="mode">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{title}}
      <span>
        <a href (click)="collapse($event)" *ngIf="isExpanded()">
          <i class="glyphicon glyphicon-resize-small"></i>
        </a>
        <a href (click)="expand($event)" *ngIf="isCollapsed()">
          <i class="glyphicon glyphicon-resize-full"></i>
        </a>
      </span>
    </h3>
  </div>
  <!--
  <div class="panel-body" *ngIf="isExpanded()" [@mode]="mode">
    <ng-content></ng-content>
  </div>
  -->
  <div class="panel-body">
    <ng-content></ng-content>
  </div>
</div>