h3 {
    position: relative;
}

span {
    position: absolute;
    
    right: 0px
}

.panel {
    bottom: 0px;

    left: 20%; width: 60%; right: 20%;

    margin-bottom: 0px;

    position: fixed;

    min-width: 600px;
}

.panel-body {
    height: 300px;
}