<span *ngIf="isInHeaderMode()" style="display: flex">
    <span style="flex-grow: 1">
        <ng-content></ng-content>
    </span>

    <a href (click)="goToSearchMode($event)">
        <i class="glyphicon glyphicon-search"></i>
    </a>
</span>

<span *ngIf="isInSearchMode()" style="display: flex">
    <input type="text" [(ngModel)]="value" (keyup)="handleKeyUp($event)" tsFocus>

    <a href (click)="goToHeaderMode($event)">
        <i class="glyphicon glyphicon-remove"></i>
    </a>
</span>